
/* 
    Created on : Apr 9, 2015, 6:04:55 PM
    Author     : Michael
*/
#leftPane{
    height: auto;
    width: 600px;
    float: left;    
}

#rightPane{
    height: auto;
    width: auto;
    float: left;    
    margin-left: 20px;
    font-size: 110%;    
}

#topTitle{
    height: 40px;
    width: 100%;        
}

#ticMessage{
    margin-top: 20px;
    margin-right: 20px;
    height: 50px;
    width: 200px;        
    float: left;    
}

#ticPicker{
    margin-top: 20px;
    height: 50px;
    width: 70px;        
    font-size: 100%;   
}

#startStop{    
    height: 30px;
    font-size: 100%;    
}

#bottomPane{
    margin: 0px;
    
}

th, td{
    background-color: lightgreen;
    border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: center;
    width: 65px;
}

th {
    font-weight: bold;
    font-size: 90%;    
}

td {
    font-weight: normal;
    font-size: 80%;    
}

.progressButton{
    background-color: lightblue;
    height: 50px;
    width: 110px;
    font-size: 14px;
    margin-left: 5px;
}